<p id="how-about-us">Un poco sobre nosotros
    Ubicados en el corazón de la ciudad vieja montevideana, somos una empresa familiar con más de 25 años en el mercado de la moda. Estamos orgullosos de haber sido partícipes de la moda varonil en nuestro país, nos caracterizamos por una atención personalizada y coordial, los esperamos</p>

<div> 
    <p>Donde estamos?</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.0352097754762!2d-56.203438899999995!3d-34.905565900000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f802a098c6759%3A0x811e65cd07861c55!2sJuan%20Carlos%20G%C3%B3mez%201428%2C%2011000%20Montevideo%2C%20Departamento%20de%20Montevideo!5e0!3m2!1ses-419!2suy!4v1663897240391!5m2!1ses-419!2suy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


